:root {
  --primary-color: 240, 240, 240;
  --secondary-color: 49, 174, 247;
  --tertiary-color: 255, 153, 0;

  --light-text: 255, 255, 255;
}

body {
  margin: 0;
  font-family: "Times New Roman", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  margin: 0 auto;
  width: 1280px;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
